.blog-space {
  background: #121212;
  color: #ffffff;
  padding: 0 160px;
  padding-top: 50px;
  padding-bottom: 30px;
  display: flex;
  flex-direction: column;
  align-items: center; /* Center align items */
}

.blog-space-title {
  font-size: 2.5rem;
  margin-bottom: 30px;
  text-align: center;
  color: #42dcdb;
  text-shadow: 0 0 10px rgba(66, 220, 219, 0.3);
}

.blog-space-image {
  width: 700px;
  height: auto;
  margin-bottom: 30px;
  border-radius: 12px;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
  object-fit: cover; /* Ensure the image covers the container */
}

.blog-space-content {
  line-height: 1.8;
  font-size: 1.1rem;
  color: #e0e0e0;
  width: 100%; /* Ensure the content takes full width */
  max-width: 800px; /* Limit the width for better readability */
}

.blog-space-details {
  margin-top: 30px;
  display: flex;
  justify-content: space-between;
  font-size: 0.9rem;
}

.blog-space-category, .blog-space-date {
  padding: 8px 16px;
  border-radius: 8px;
  background: rgba(66, 220, 219, 0.1);
  color: #42dcdb;
  border: 1px solid rgba(66, 220, 219, 0.2);
}

.edit-button {
  background: rgba(66, 220, 219, 0.1);
  color: #42dcdb;
  border: 1px solid rgba(66, 220, 219, 0.2);
  width: 80px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

.edit-button:hover {
  background: rgba(66, 220, 219, 0.2);
  color: #ffffff;
}

.back-to-home {
  text-decoration: none;
  color: hsla(0, 0%, 100%, 0.622);
  margin-bottom: 20px;
}
